.logo {
  border-radius: 50%;
  padding: 0.5vw;
}

.caixa {
  background-color: #50a2b1;
}

.titulo {
  color: white !important;
  font-weight: bold !important;
}

.botao {
  border-color: #131111 !important;
  background-color: #140e19;
  color: white !important;
}

.postagens {
  background-color: white;
}